.wel{
    color: black;
}
 .profile img{
    height: 11vh;
    border-radius: 50px;
    width: 5vw;
}
.img2 img{
    height: 70vh;
    width: 60vw;
    border-radius: 10px;
    margin: 1vh 20vw;
}
.btn3{
    position: absolute;
    top: 10px;
    right: 10vw;
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 50px;
    background-color: rgb(151, 151, 52);
}
.wel{
    position: absolute;
    top: 1vh;
    left: 5vw;
}